body {
    margin: 10px;
    background: url("/69261.jpg");
    color: white;
    font-size: 15px;
    height: 750px;
}

.header {
    max-width: 200px;
}

.titre-header {
    font-size: 50px;
    text-transform: uppercase;
    padding: 0 10px 10px 0;
    border-bottom: 10px solid #0051ff;
    border-right: 10px solid #0051ff;
    border-radius: 0 0 100px 0;
}

.search-city {
    max-width: 350px;
}


.form-groupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-top: 20px;
    font-size: 25px;
    background: #0051ff;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    transition: 400ms;
}

.btn:hover {
    color: #ffffff;
    transform: translateY(7px);
    transition: 400ms;
}


.info-meteo {
    display: flex;
    margin-top: 100px;
    padding: 0;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(0, 81, 255, 1) 55%);
    height: 400px;
    max-width: 800px;
    border-radius: 0 70px 80px 80px;
    box-shadow: 20px 11px 20px 0px #000
}
.info-num{
    font-size: 30px;
}
.info-num ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.cityName {
    margin: 0;
    background: #001950;
    width: 40%;
    border-radius: 0 0 0 80px;
}

#city {
    font-size: 50px;
    text-align: center;
}

#temp {
    text-align: center;
    font-size: 100px;
}




@media screen and (max-width: 900px) {

    .info-meteo{
        display: flex;
        flex-direction: column;
        height:auto;
    }

    .cityName{
        width:100%;
    }

    .info-num{
        font-size:25px;
    }

    .info-num ul{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    
}